.main-header .logo {
  font-family: "Trebuchet MS", "trebuchet", sans-serif;
  font-weight: bold;
  font-size: 32px;
}
.skin-blue .main-header .logo {
  background-color: #3c8dbc;
}
.skin-blue .main-header .logo:hover {
  background-color: #3c8dbc;
}
.small-box {
  height: 85px;
}
.small-box h3{
  font-size: 20px;
  text-align: center;
}
.small-box p{
  font-size: 20px;
  text-align: center;
}

.box {
border-bottom-color:#ffffff;
border-left-color:#ffffff;
border-right-color:#ffffff;
border-top-color:#ffffff;
}

.shiny-output-error-validation {
  margin: auto;
  width: 50%;
  text-align: center;
  color: #D8000C;
  font-size: 1em;
  vertical-align: middle;
}

.shiny-datatable-output {

  pagingType: simple;
}

.dataTable {
  pagingType: simple;
}
